Authlib==0.15.3
certifi~=2020.6.20
cffi~=1.14.3
cryptography~=3.1.1
h11==0.12.0
httpcore==0.12.3
httpx==0.16.1
idna~=2.10
numpy~=1.19.2
pycparser==2.20
pyreadline==2.1
python-dateutil==2.8.1
rfc3986==1.4.0
selenium==3.141.0
six==1.15.0
sniffio==1.2.0
torch~=1.8.1
urllib3~=1.25.11
websockets==8.1
torchtext==0.9.1
spacy~=2.3.4
yaml~=0.2.5
pytest~=6.1.1
future~=0.18.2
pillow~=8.0.1
ipython~=7.19.0
zlib~=1.2.11
olefile~=0.46
pip~=20.2.4
wheel~=0.35.1
openssl~=1.1.1h
py~=1.9.0
lxml~=4.6.1
keyring~=21.4.0
typing_extensions~=3.7.4.3
rsa~=4.6
pyasn1~=0.4.8
mock~=4.0.2
attrs~=20.3.0
blis~=0.7.3
requests~=2.24.0
pytz~=2020.1
toml~=0.10.1
tqdm~=4.50.2
dask~=2.30.0
colorama~=0.4.4
ipywidgets~=7.5.1
notebook~=6.1.4
pyyaml~=5.3.1
regex~=2020.10.15
click~=7.1.2
appdirs~=1.4.4
cymem~=2.0.4
cython~=0.29.21
setuptools~=50.3.1
numba~=0.51.2
nose~=1.3.7
thinc~=7.4.3
srsly~=1.0.4
wasabi~=0.8.0
jinja2~=2.11.2
catalogue~=1.0.0
packaging~=20.4
preshed~=3.0.4
ruamel_yaml~=0.15.87
ujson~=4.0.1
cloudpickle~=1.6.0
msgpack-python~=1.0.0
h5py~=2.10.0
nbformat~=5.0.8
nbconvert~=6.0.7
murmurhash~=1.0.4
distributed~=2.30.1
conda~=4.9.2
tensorboard~=2.4.0
torchvision~=0.8.1
psutil~=5.7.2
scipy~=1.5.2
pkginfo~=1.6.1
flask~=1.1.2
tornado~=6.0.4
networkx~=2.5
matplotlib~=3.3.2
cachetools~=4.1.1
markupsafe~=1.1.1
joblib~=0.17.0
backports~=1.0
pandas~=1.1.3
xlwt~=1.3.0
openpyxl~=3.0.5
numexpr~=2.7.1
xlrd~=1.2.0
sqlalchemy~=1.3.20
traitlets~=5.0.5
scikit-image~=0.17.2
markdown~=3.3.3
werkzeug~=1.0.1
chardet~=3.0.4
pygments~=2.7.2
oauthlib~=3.1.0
decorator~=4.4.2
greenlet~=0.4.17
pyparsing~=2.4.7
ply~=3.11
ratelimit~=2.2.1
cycler~=0.10.0
ipykernel~=5.3.4
path~=15.0.0
sphinx~=3.2.1
docutils~=0.16
kiwisolver~=1.3.0
readline~=8.0
gettext~=0.19.8.1
scikit-learn~=0.23.2
filelock~=3.0.12
torchaudio~=0.7.0
importlib_metadata~=2.0.0